body {
  margin: 0;
  background-color: #2f3336;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
h1.logo {
  font-size: 44px;
  font-weight: 700;
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 50px;
  margin-bottom: 40px;
}
#topnav {
  background-color: #1c74b2;
  text-align: center;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 38px;
  line-height: 200%;
}
.menu > li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}
.menu > li:first-child {
  border-left: 1px solid #ddd;
}
.menu a {
  color: #fff;
  text-decoration: none;
}
.menu a:hover {
  color: #0a2b42;
}
.categories {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 950px;
  padding: 0;
}
h1 {
  font-size: 45px;
  font-weight: 400;
  color: #39a5f1;
  margin-bottom: 20px;
}
.author {
  display: inline-block;
  margin-top: 10px;
}
.author a {
  opacity: 0.8;
}
.author a:hover {
  opacity: 1;
}
figure {
  margin: 8px;
  padding: 0;
}
figcaption {
  padding: 0;
  margin-top: 5px;
}
.entries {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 950px;
  padding-top: 10px;
  padding-bottom: 80px;
  margin-top: 40px;
}
#newest {
  background-color: #191d21;
}
.entry {
  background-color: #222930;
  padding: 10px;
  text-align: justify;
  margin-top: 40px;
  border-radius: 20px;
}
.entryimg {
  display: inline-block;
  margin-left: 30px;
  width: 110px;
}
.entryimg img {
  width: 95px;
  height: 95px;
}
.entrytext {
  display: inline-block;
  width: 750px;
  font-size: 15px;
}
h2 {
  font-size: 20px;
  font-weight: 400;
  color: #39a5f1;
}
.contact {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 950px;
  padding-bottom: 70px;
  margin-bottom: 50px;
}
.contact p {
  margin-bottom: 50px;
}
.bluebotton {
  background-color: #1c74b2;
  padding: 15px;
  color: #efefef;
  font-size: 20px;
  text-decoration: none;
  min-width: 300px;
  border-radius: 20px;
}
.bluebotton:hover {
  background-color: #196499;
}
.socials {
  width: 100%;
  text-align: center;
  background-color: #191d21;
}

.socialdivs {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.yt {
  width: 250px;
  height: 155px;
  float: left;
}
.yt:hover {
  background-color: #c83237;
}
.fb {
  width: 250px;
  height: 155px;
  float: left;
}
.fb:hover {
  background-color: #3557a2;
}
.gplus {
  width: 250px;
  height: 155px;
  float: left;
}
.gplus:hover {
  background-color: #c84222;
}
.tw {
  width: 250px;
  height: 155px;
  float: left;
}
.tw:hover {
  background-color: #2084c3;
}
a.tilelinkhtml5 {
  color: #fff;
  text-decoration: none;
}
a.sociallink {
  color: #fff;
  text-decoration: none;
  width: 250px;
  height: 155px;
}
a.tilelink {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 250px;
  height: 155px;
}
.info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.west {
  float: left;
  width: 750px;
  padding: 20px;
  text-align: justify;
}
.west h1 {
  font-size: 35px;
  font-weight: 400;
  color: #39a5f1;
  margin-bottom: 20px;
}
.east {
  float: left;
  width: 170px;
  padding: 20px;
}
.east ul {
  padding-left: 20px;
}
.east ul > li {
  margin-bottom: 5px;
}
.east img {
  margin-top: 20px;
}
