.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
.nav {
  float: left;
  background-color: rgb(13, 172, 172);
  width: 120px;
  min-height: 620px;
  padding: 10px;
}
.content {
  float: left;
  width: 640px;
  padding: 20px;
}
.ad {
  background-color: rgb(13, 172, 172);
  float: left;
  width: 160px;
  min-height: 620px;
  padding: 10px;
}
.footer {
  clear: both;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}
